//-----------colors------------

$orange: #f7600e;
$black: #3b434c;
$white: white;




$brand-color: $orange;
$primary-dark-color: $black;
$primary-light-color: $white;


//--------------fonts------------------



$font-primary: 'Open Sans', sans-serif;