@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?wic4kz");
  src: url("../fonts/icomoon.eot?wic4kz#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?wic4kz") format("truetype"), url("../fonts/icomoon.woff?wic4kz") format("woff"), url("../fonts/icomoon.svg?wic4kz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-back:before {
  content: "\e900"; }

.icon-arrow-down:before {
  content: "\e901"; }

.icon-arrow-next:before {
  content: "\e902"; }

.icon-atom:before {
  content: "\e903"; }

.icon-graduation-hat:before {
  content: "\e904"; }

.icon-line:before {
  content: "\e905"; }

.icon-pencil:before {
  content: "\e906"; }

.icon-portfolio:before {
  content: "\e907"; }

.icon-rocket:before {
  content: "\e908"; }

.icon-search:before {
  content: "\e909"; }

.icon-shopping-cart:before {
  content: "\e90a"; }

.icon-two-layers:before {
  content: "\e90b"; }

.icon-zig-zag-graphic:before {
  content: "\e90c"; }

/* Proxima Nova */
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNovaT-Thin.eot");
  src: url("../fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNovaT-Thin.ttf") format("truetype"), url("../fonts/ProximaNovaT-Thin.svg#ProximaNovaT-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Black.eot");
  src: url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype"), url("../fonts/ProximaNova-Black.svg#ProximaNova-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

.button-std {
  display: block;
  width: 183px;
  height: 47px;
  border: 2px solid white;
  border-radius: 23px;
  text-align: center;
  line-height: 47px;
  text-decoration: none; }

.btn-transparent:hover {
  background-color: #17daa3;
  border: 2px solid #17daa3; }

.btn-green {
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: #17daa3;
  color: white; }

#hero-carousel .carousel-control.left,
#hero-carousel .carousel-control.right,
#reviews-carousel .carousel-control.left,
#reviews-carousel .carousel-control.right {
  background-image: none; }

#hero-carousel i,
#reviews-carousel i {
  position: absolute;
  top: 25%;
  font-size: 25px; }

.carousel-inner .item img {
  margin: 0 auto; }

.carousel-inner .item h2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  color: white; }
  .carousel-inner .item h2 span {
    font-weight: 700; }

.carousel-inner .item h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: white; }
  .carousel-inner .item h3 span {
    color: #17daa3; }

.carousel-inner .item .hero-text {
  margin-top: 25px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: white; }

.carousel-inner .item .rev-text {
  margin-bottom: 100px;
  opacity: 0.3;
  color: white;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center; }
  .carousel-inner .item .rev-text span {
    font-weight: 600; }

.carousel-inner .item a {
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 100px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: white; }

@media (min-width: 768px) {
  .carousel-inner .item h2 {
    font-size: 45px; }
  .carousel-inner .item h3 {
    font-size: 30px; }
  .carousel-inner .item .hero-text {
    font-size: 18px; }
  .carousel-inner .item .rev-text {
    font-size: 18px; } }

@media (min-width: 970px) {
  .carousel-inner .item h2 {
    font-size: 60px; }
  .carousel-inner .item .hero-text {
    font-size: 24px; } }

.brand-caption {
  margin: 0;
  color: #576671;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 200;
  text-align: center; }

@media (min-width: 768px) {
  .brand-caption {
    font-size: 60px;
    margin-bottom: 15px; } }

.brand-paragraph {
  margin: 0;
  color: #87949e;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center; }

@media (min-width: 768px) {
  .brand-paragraph {
    font-size: 18px;
    margin-top: 25px; } }

html, body {
  height: 100%; }

body {
  font-family: "Proxima Nova", sans-serif; }

.wrapper {
  margin: 0 auto;
  border: 1px dotted gray; }

@media (min-width: 1170px) {
  .wrapper {
    max-width: 1500px; } }

.wrapper-lg {
  margin: 0 auto;
  border: 1px dotted gray; }

@media (min-width: 1170px) {
  .wrapper-lg {
    max-width: 2000px; } }

.icon-line {
  display: block;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  color: #17daa3; }

/*----------- replace bootstrap styles----------- */
.navbar {
  background-color: transparent;
  border-color: transparent; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent; }

.dropdown-menu {
  background-color: transparent;
  border-color: transparent;
  border: none;
  box-shadow: none; }

.form-control:focus {
  border-color: #17daa3; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

/*----------add 5 columns  :-))------------*/
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
  position: relative;
  min-height: 1px; }

.col-xs-1-5 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left; } }

.header {
  font-family: "Raleway", sans-serif;
  padding: 1% 0; }
  .header .navbar h1 {
    margin: 0; }
    .header .navbar h1 a {
      padding-top: 5px; }
  .header .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700; }

.section-bg {
  position: relative;
  height: 100%;
  background: url("../img/bg-hero.png") center/cover no-repeat; }
  .section-bg .button-arrow-down {
    display: block;
    position: absolute;
    top: 95%;
    left: 50%;
    text-decoration: none; }
    .section-bg .button-arrow-down .icon-arrow-down {
      font-size: 30px;
      color: white; }

.hero {
  position: absolute;
  top: 33%;
  width: 100%; }

.about {
  padding: 4% 0; }
  .about .row {
    margin: 0; }
  .about .button-std {
    display: block;
    margin: 0 auto;
    margin-top: 100px; }

.about-list {
  padding: 0;
  margin-top: 10%;
  list-style: none; }
  .about-list .about-list-item a {
    display: block;
    width: 292px;
    margin: 0 auto;
    text-decoration: none; }
    .about-list .about-list-item a h3 {
      color: black;
      font-family: Raleway;
      font-size: 30px;
      font-weight: 400;
      text-align: center; }
    .about-list .about-list-item a p {
      color: #87949e;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      text-align: center; }
    .about-list .about-list-item a:hover .about-list-icon-wrapper {
      background-color: #17daa3; }
      .about-list .about-list-item a:hover .about-list-icon-wrapper i {
        color: white; }
  .about-list .about-list-item .about-list-icon-wrapper {
    display: block;
    width: 182px;
    height: 182px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #edeff1;
    line-height: 182px;
    text-align: center; }
    .about-list .about-list-item .about-list-icon-wrapper i {
      vertical-align: middle;
      font-size: 60px;
      color: #87949e; }

.info1,
.info2,
.info3 {
  padding: 5% 0; }
  .info1 img,
  .info2 img,
  .info3 img {
    display: block;
    max-width: 100%; }
  .info1 p,
  .info2 p,
  .info3 p {
    color: #87949e;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px; }
  .info1 .button-std,
  .info2 .button-std,
  .info3 .button-std {
    margin: 8% auto; }

.info1 {
  background-color: #f9f9fa; }

@media (min-width: 768px) {
  .info1 .brand-caption,
  .info2 .brand-caption,
  .info3 .brand-caption {
    margin: 8% 0;
    text-align: left; }
  .info1 .button-std,
  .info2 .button-std,
  .info3 .button-std {
    margin-left: 0; } }

.services {
  background-color: #f9f9fa;
  padding: 5% 0; }
  .services .row {
    margin: 0; }

.services-list {
  list-style: none;
  margin: 10% 0 0;
  padding: 0; }
  .services-list .item-wrapper {
    overflow: hidden; }
    .services-list .item-wrapper h3 {
      color: #576671;
      font-family: "Raleway", sans-serif;
      font-size: 40px;
      font-weight: 200;
      text-align: center; }
    .services-list .item-wrapper p {
      text-align: center;
      color: #87949e;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
  .services-list .services-list-icon-wrapper {
    width: 94px;
    height: 94px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 94px; }
    .services-list .services-list-icon-wrapper i {
      vertical-align: middle;
      font-size: 35px;
      color: #17daa3; }

@media (min-width: 768px) {
  .services-list .item-wrapper h3 {
    text-align: left; }
  .services-list .item-wrapper p {
    text-align: left; } }

@media (min-width: 970px) {
  .services-list .item-wrapper h3 {
    font-size: 45px; }
  .services-list .item-wrapper p {
    font-size: 16px;
    line-height: 36px; } }

@media (min-width: 1200px) {
  .services-list .item-wrapper h3 {
    font-size: 60px; }
  .services-list .item-wrapper p {
    font-size: 18px;
    line-height: 48px; }
  .services-list .item-wrapper .services-list-text-wrapper {
    padding: 0 0 0 30px; } }

.pricing {
  background-color: #f9f9fa;
  padding: 5% 0; }
  .pricing .row {
    margin: 0; }

.pricing-list {
  margin-top: 5%;
  list-style: none;
  padding: 0; }
  .pricing-list li .pricing-list-wrapper {
    max-width: 345px;
    margin: 2% auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(227, 227, 227, 0.65); }
  .pricing-list li .cost {
    display: block;
    padding-left: 10px;
    padding-top: 30px;
    color: #17daa3;
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    font-weight: 200; }
  .pricing-list li .product {
    display: block;
    padding-left: 10px;
    padding-bottom: 40px;
    opacity: 0.45;
    color: #87949e;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px solid #eeeff1; }
  .pricing-list li p {
    margin: 0;
    padding: 40px 40px 40px 10px;
    color: #87949e;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px; }
  .pricing-list li a {
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #17daa3;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .pricing-list li a:hover {
      letter-spacing: 3px; }
      .pricing-list li a:hover .icon-shopping-cart {
        margin-left: 45%;
        transition-duration: 1s; }

.offer {
  background: url("../img/bg-try.png") center/cover no-repeat;
  padding: 10% 0; }
  .offer p {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center; }
    .offer p span {
      font-weight: 700; }
  .offer .button-std {
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    text-decoration: none;
    color: white; }

@media (min-width: 768px) {
  .offer p {
    font-size: 50px; } }

@media (min-width: 970px) {
  .offer p {
    font-size: 60px; } }

.reviews {
  padding: 10% 0;
  background: url("../img/bg-reviews.png") center/cover no-repeat; }

.persons {
  padding-top: 5%; }
  .persons .row {
    margin: 0; }
  .persons .gray {
    background-color: #e4e4e4; }
  .persons .gray-md {
    background-color: #efefef; }
  .persons .gray-lgh {
    background-color: #f9f9fa; }

.persons-list {
  margin-top: 5%;
  list-style: none;
  padding: 0; }
  .persons-list .persons-list-item {
    display: block;
    margin: 0 auto;
    padding: 2%;
    max-width: 750px; }
    .persons-list .persons-list-item img {
      max-width: 50%;
      margin: 0 auto;
      display: block; }
    .persons-list .persons-list-item .hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-color: rgba(23, 218, 163, 0.9);
      opacity: 0;
      transition-duration: 0.5s; }
      .persons-list .persons-list-item .hover span {
        display: block;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 36px;
        font-weight: 200;
        text-align: center;
        margin-top: 20%; }
    .persons-list .persons-list-item:hover .hover {
      opacity: 1;
      height: 100%;
      transition-duration: 0.5s; }

@media (min-width: 768px) {
  .persons-list .persons-list-item img {
    max-width: 100%; }
  .persons-list .persons-list-item .hover span {
    margin-top: 40%; } }

.footer {
  padding-bottom: 500px;
  background: url("../img/bg-footer.png") top/80% no-repeat;
  font-size: 18px;
  font-weight: 400; }
  .footer .footer-logo {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #87949e; }
  .footer .footer-nav {
    display: block;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    text-align: center; }
    .footer .footer-nav li {
      display: inline-block;
      padding: 10px; }
      .footer .footer-nav li a {
        text-decoration: none;
        color: #87949e; }

@media (min-width: 768px) {
  .footer-logo {
    float: left; }
  .footer-nav {
    float: right; } }

@media (min-width: 1170px) {
  .footer {
    max-width: 1500px;
    margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
