#hero-carousel,
#reviews-carousel{
	.carousel-control{
		//width: 3%;
	}
	.carousel-control.left,
	.carousel-control.right{
		background-image: none;
	}

    i {
	 position: absolute;
	 top: 25%;
	 font-size: 25px;
    }
  }

  .carousel-inner{
    .item{
	 img{
	   margin: 0 auto;
	 }
	 h2{
	   font-family: $font-secondary;
	   font-size: 30px;
	   font-weight: 100;
	   text-align: center;
	   color: white;
	   span{
		font-weight: 700;
	   }
	 }
	 h3{
	   font-family: $font-secondary;
	   font-size: 20px;
	   font-weight: 300;
	   text-align: center;
	   color: white;
	   span{
		color: $brand-color;
	   }
	 }
	 .hero-text{
	   font-family: $font-primary;
	   font-size: 14px;
	   font-weight: 300;
	   text-align: center;
	   color: white;
	 }
	 .rev-text{
	   margin-bottom: 50px;
	   opacity: 0.3;
	   color: white;
	   font-family: $font-primary;
	   font-size: 14px;
	   font-weight: 300;
	   text-align: center;
	   span{
		font-weight: 600;
	   }

	 }
	 a{
	   margin: 0 auto;
	   margin-bottom: 100px;
	   font-family: $font-primary;
	   font-size: 14px;
	   font-weight: 700;
	   color: white;

	 }
	 @media (min-width: 768px){
	   h2 {
		font-size: 45px;
	   }
	   h3{
		font-size: 30px;
	   }
	   .hero-text{
		font-size: 18px;
	   }
	   .rev-text{
		font-size: 18px;
	   }
	 }
	 @media (min-width: 970px){
	   h2 {
		font-size: 60px;
	   }
	   .hero-text{
		font-size: 24px;
	   }
	 }

    }

    }

