.subscribe-form {

  ul {
    list-style: none;
    padding: 0;

    li {
      display: block;

      input[type="email"] {
        width: 80%;
        height: 50px;
        display: block;
        margin: 0 auto;
        outline: none;
        background-color: white;
        border-radius: 10px;
        font: 400 16px $font-primary;
        color: $primary-dark-color;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .subscribe-form ul li input[type="email"] {
    width: 60%;
  }
}

@media only screen and (min-width: 970px) {
  .subscribe-form ul {
    text-align: center;
    li {
      display: inline-block;
      input[type="email"] {
        width: 400px;
        margin-right: 25px;
      }
    }
  }
}

@media only screen and (min-width: 1170px) {
  .subscribe-form ul li input[type="email"] {
    width: 560px;
  }
}

//----------------------feedback-----------
.feedback-form {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;

  ul {
    list-style: none;
    padding: 0;

    li {
      input[type="email"],
      input[type="text"] {
        width: 100%;
        height: 50px;
        display: block;
        margin: 0 auto 10px;
        padding-left: 10px;
        background-color: white;
        border-radius: 10px;
        outline: none;
        font: 400 16px $font-primary;
        color: $primary-dark-color;
      }

      textarea {
        width: 100%;
        height: 199px;
        display: block;
        margin: 0 auto;
        padding-left: 10px;
        padding-top: 10px;
        resize: none;
        outline: none;
        background-color: white;
        border-radius: 10px;
        font: 400 16px $font-primary;
        color: $primary-dark-color;
      }
      .button-submit {
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .feedback-form {
    width: 60%;

  }
}

@media only screen and (min-width: 970px) {
  .feedback-form {
    width: 100%;
    ul li {
      input[type="email"] {
        width: 49%;
        float: left;
      }
      input[type="text"] {
        float: right;
        width: 49%;
      }
      textarea {
        width: 100%;
      }
    }
  }
}

