.social-icons {
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;

    a {
      display: block;
      width: 25px;
      height: 25px;
      overflow: hidden;
      border-radius: 50%;
      text-decoration: none;

      .fa {
        width: inherit;
        height: inherit;
        display: block;
        color: white;
        line-height: 25px;
        vertical-align: middle;
        @include transition(0.4s)
      }

      .fa-facebook {
        background-color: #205b9f;
      }

      .fa-twitter {
        background-color: #00ace3;
      }

      .fa-google-plus {
        background-color: #ff3921;
      }

      .fa-dribbble {
        background-color: #ff72a5;
      }

      .fa-behance {
        background-color: #009bd5;
      }
      &:hover .fa {
        background-color: $brand-color;
        @include transition(0.4s)
      }
    }
  }
}