.brand-caption{
  margin: 0;
  font:200 40px $font-secondary;
  text-align: center;
  color: #576671;
}
@media (min-width: 768px){
  .brand-caption{
    font-size: 60px;
    margin-bottom: 15px;
 }
}

.brand-paragraph{
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #87949e;
}
@media (min-width: 768px){
  .brand-paragraph{
    font-size: 18px;
    margin-top: 25px;
  }
}

// это все можно было в base запихнуть