.about {
  padding: 4% 0;
  .row{
    margin: 0;
  }
  .button-std{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    text-decoration: none;
    color: white;
  }
}

.about-list {
  padding: 0;
  margin-top: 10%;
  list-style: none;

  .about-list-item {
    a{
      display: block;
      width: 292px;
      margin: 0 auto;
      text-decoration: none;
      h3{
        color: black;
        font: 400 30px $font-secondary;
        text-align: center;
      }
      p{
        color: #87949e;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
      }
      &:hover .about-list-icon-wrapper{
        background-color: $brand-color;
        @include transition(0.5s);
        i{
          color: white;
        }
      }
    }

    .about-list-icon-wrapper {
      display: block;
      width: 182px;
      height: 182px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #edeff1;
      line-height: 182px;
      text-align: center;
      @include transition(0.5s);
      i{
        vertical-align: middle;
        font-size: 60px;
        color: #87949e;
      }
    }
  }
}

