.header{
  font-family: $font-secondary;
  padding: 1% 0;

  .navbar{
    padding-bottom: 3%;
    h1{
	 margin: 0;
      a{
        padding-top: 5px;
      }
    }
  }

  .navbar-nav > li > a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: white;
    @include transition(0.5s);

    &:hover{
      color: $brand-color;
      @include transition(0.5s);
    }
  }
}


