.info1,
.info2,
.info3{
  padding: 5% 0;

  img{
    display: block;
    max-width: 100%;
  }



  p{
    color: #87949e;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
  }

  .button-std{
    margin: 8% auto;
  }

}
.info1{
  background-color: #f9f9fa;
}

@media (min-width: 768px){
  .info1,
  .info2,
  .info3{
  .brand-caption{
    margin: 8% 0;
    text-align: left;
  }
    .button-std{
      margin-left: 0;
    }
  }
}