.offer{
  background: url("../img/bg-try.png") center /cover no-repeat;
  padding: 10% 0;

  p{
    font-family: $font-secondary;
    font-size: 30px;
    font-weight: 200; // используй сокращенную запись
    text-align: center;
    color: white;
    span{
      font-weight: 700;
    }
  }
  .button-std{
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    text-decoration: none;
    color: white;
  }
}

@media (min-width: 768px){
  .offer{
    p{
      font-size: 50px;
    }
  }
}
@media (min-width: 970px){
  .offer{
    p{
      font-size: 60px;
    }
  }
}