//------------base styles---------------

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//--------------captions ----------------------
.captions {
  margin: 0 0 1%;
  font: 600 35px $font-primary;
  text-align: center;
  color: $primary-dark-color;
  span {
    color: $brand-color;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 970px) {
}

@media only screen and (min-width: 1170px) {
  .captions {
    margin-bottom: 15px;
  }
}

//----------------- paragraphs -----------------------
.paragraphs {
  font: 400 16px/30px $font-primary;
  text-align: center;
  margin: 0;
  padding: 0 10px;
}

@media only screen and (min-width: 768px) {
  .paragraphs {
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }
}

@media only screen and (min-width: 970px) {
  .paragraphs {
    width: 50%;
    margin-bottom: 4%;

  }
}

@media only screen and (min-width: 1170px) {
  .paragraphs {
    width: 470px;
    margin-bottom: 80px;

  }
}

//---------- bxslider------------
.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: none;
}

//----------wrapper-------------

.wrapper {
  width: auto;
  margin: 0 auto;
  overflow: hidden;
  //border: 1px dotted gray; //--TEST--
}

@media only screen and (min-width: 1170px) {

  .wrapper {
    width: 1170px;
  }
}

//----------------header------------











