//-----------colors------------

$green: #17daa3;

$brand-color: $green;


//--------------fonts------------------



$font-primary: 'Proxima Nova', sans-serif;
$font-secondary: 'Raleway', sans-serif;