//-----------colors------------

$green: #17daa3;
$black: #3b434c;
$white: white;




$brand-color: $green;
$primary-dark-color: $black;
$primary-light-color: $white;


//--------------fonts------------------



$font-primary: 'Proxima Nova', sans-serif;
$font-secondary: 'Raleway', sans-serif;