html, body{
  height: 100%;
}

body{
  font-family: $font-primary;
}

.wrapper{
  margin: 0 auto;
  border: 1px dotted gray;
}
@media (min-width: 1170px) {
  .wrapper{
    max-width: 1500px;
  }
}
.wrapper-lg{
  margin: 0 auto;
  border: 1px dotted gray;
}
@media (min-width: 1170px) {
  .wrapper-lg{
    max-width: 2000px;
  }
}


.icon-line{
  display: block;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  color: $brand-color;
}

/*----------- replace bootstrap styles----------- */

.navbar{
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
  background-color: transparent;
}

.dropdown-menu{
  background-color: transparent;
  border-color: transparent;
  border: none;
  box-shadow: none;

}

.form-control:focus{
  border-color: #17daa3;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
  border-color: transparent;
}

.navbar-default .navbar-toggle{
  border-color: transparent;
}

/*----------add 5 columns  :-))------------*/

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
  position: relative;
  min-height: 1px;
  //padding-right: 10px;
  //padding-left: 10px;
}

.col-xs-1-5 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}